
.buildconfig

bin/Release/

obj/Release/

problematic.txt

*.depend

*.layout

NozzleMoCRao_cnet.txt

NozzleMoCRao_Ct.txt

NozzleMoCRao_endLPoints.txt

NozzleMoCRao_optWallPoints.txt

NozzleMoCRao_symmPoints.txt

NozzleMoCRao_wallPoints.txt

*.txt
